#search{
	box-shadow: 0px 0px 4px rgb(0, 0, 0);
	padding: 0 16px; 
	background-color: rgb(238, 238, 238);	
	height: 69px;
}

#search .tabview{
    background-color: #eff0ef;
    height: 55px;
    padding: 12px 0 0 0;
}

#search .tabview a{
    color: #000;
    float: left;
    font-weight: bold;
    margin-right: 8px;
    margin-top: 6px;
    padding: 19px 8px 16px;	
    height: 16px;
}

#search .tabview a:hover,
#search .tabview a.selected{
    padding: 19px 7px 16px;
    background-image: url('./../images/tabbg.png');
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

#search .form{
	float: left;
	border: 1px solid rgb(204, 204, 204);
	background-color: rgb(255, 255, 255);
	border-radius: 4px;	
	margin: 8px 16px 16px 8px;
}

#search .form form input[type="text"]{
	border: none;
	width: 420px;
	background-image: url('./../images/search.png');
	background-repeat: no-repeat;
	background-position: 8px 50%;
	background-size: auto auto;
	padding: 8px 16px 8px 32px;	
}

#search .form form button{
	margin: 4px;
	border-radius: 4px;
	padding: 4px 8px;
}

#content{
	margin: 16px;	
}

table thead tr th.cell_a{
	background-color: #DDDDDD;
}

table thead tr th.cell_b{
	background-color: #D6D6D6;
}

table th{
	padding: 8px 8px;	
}

table td{
	padding: 4px 8px;	
}

table tr.row_a td{
	background-color: #FDFDFD;
}

table tr.row_b td{
	background-color: #FAFAFA;
}

table tr td.int{
	text-align: right;	
}

table tr td.midl{
	text-align: center;	
}

button{
    background-color: #c8f412;
    border: 1px solid #006600;
    border-radius: 4px;
    font-weight: bold;
    margin: 0 8px 16px 16px;
    padding: 8px 16px;	
}

button:hover{
	background-color: #94EE43;
}

table button{
	margin: 0;	
}