#content{
    margin: 160px auto 0;
    text-align: center;
    width: 740px;
}

#content .item{
	background: rgba(120,245,17,1);
	background: -moz-linear-gradient(top, rgba(120,245,17,1) 0%, rgba(47,117,54,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(120,245,17,1)), color-stop(100%, rgba(47,117,54,1)));
	background: -webkit-linear-gradient(top, rgba(120,245,17,1) 0%, rgba(47,117,54,1) 100%);
	background: -o-linear-gradient(top, rgba(120,245,17,1) 0%, rgba(47,117,54,1) 100%);
	background: -ms-linear-gradient(top, rgba(120,245,17,1) 0%, rgba(47,117,54,1) 100%);
	background: linear-gradient(to bottom, rgba(120,245,17,1) 0%, rgba(47,117,54,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78f511', endColorstr='#2f7536', GradientType=0 );
    border: 1px solid #006600;
    border-radius: 8px;
    box-shadow: 0 0 16px #006600;
    display: inline-block;
    height: 200px;
    margin: 16px !important;
    padding: 0 !important;
    width: 200px;
}

#content .item.error{
	background: rgb(255,30,30);
	background: -moz-linear-gradient(top, rgba(255,30,30,1) 0%, rgba(173,60,60,1) 53%, rgba(124,3,5,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,30,30,1)), color-stop(53%,rgba(173,60,60,1)), color-stop(100%,rgba(124,3,5,1)));
	background: -webkit-linear-gradient(top, rgba(255,30,30,1) 0%,rgba(173,60,60,1) 53%,rgba(124,3,5,1) 100%);
	background: -o-linear-gradient(top, rgba(255,30,30,1) 0%,rgba(173,60,60,1) 53%,rgba(124,3,5,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,30,30,1) 0%,rgba(173,60,60,1) 53%,rgba(124,3,5,1) 100%);
	background: linear-gradient(to bottom, rgba(255,30,30,1) 0%,rgba(173,60,60,1) 53%,rgba(124,3,5,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1e1e', endColorstr='#7c0305',GradientType=0 );
    box-shadow: 0 0 16px #660000;
    border: 1px solid #660000;
}

#content .item.evaluation{
	background: #00a6ff;
	background: -moz-linear-gradient(top, #00a6ff 0%, #00f6ff 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #00a6ff), color-stop(100%, #00f6ff));
	background: -webkit-linear-gradient(top, #00a6ff 0%, #00f6ff 100%);
	background: -o-linear-gradient(top, #00a6ff 0%, #00f6ff 100%);
	background: -ms-linear-gradient(top, #00a6ff 0%, #00f6ff 100%);
	background: linear-gradient(to bottom, #00a6ff 0%, #00f6ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78f511', endColorstr='#2f7536', GradientType=0 );
    border: 1px solid #1598CB;
    box-shadow: 0 0 8px #666;
}

#content .item:hover{
	background: rgba(120,245,17,1);
	background: -moz-linear-gradient(top, rgba(120,245,17,1) 0%, rgba(47,117,54,1) 60%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(120,245,17,1)), color-stop(60%, rgba(47,117,54,1)));
	background: -webkit-linear-gradient(top, rgba(120,245,17,1) 0%, rgba(47,117,54,1) 60%);
	background: -o-linear-gradient(top, rgba(120,245,17,1) 0%, rgba(47,117,54,1) 60%);
	background: -ms-linear-gradient(top, rgba(120,245,17,1) 0%, rgba(47,117,54,1) 60%);
	background: linear-gradient(to bottom, rgba(120,245,17,1) 0%, rgba(47,117,54,1) 60%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78f511', endColorstr='#2f7536', GradientType=0 );
	box-shadow: 0 0 8px #003300;
}

#content .item.error:hover{
	background: rgb(255,30,30);
	background: -moz-linear-gradient(top, rgba(255,30,30,1) 0%, rgba(173,60,60,1) 26%, rgba(124,3,5,1) 60%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,30,30,1)), color-stop(26%,rgba(173,60,60,1)), color-stop(60%,rgba(124,3,5,1)));
	background: -webkit-linear-gradient(top, rgba(255,30,30,1) 0%,rgba(173,60,60,1) 26%,rgba(124,3,5,1) 60%);
	background: -o-linear-gradient(top, rgba(255,30,30,1) 0%,rgba(173,60,60,1) 26%,rgba(124,3,5,1) 60%);
	background: -ms-linear-gradient(top, rgba(255,30,30,1) 0%,rgba(173,60,60,1) 26%,rgba(124,3,5,1) 60%);
	background: linear-gradient(to bottom, rgba(255,30,30,1) 0%,rgba(173,60,60,1) 26%,rgba(124,3,5,1) 60%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1e1e', endColorstr='#7c0305',GradientType=0 );
	box-shadow: 0 0 8px #330000;
}

#content .item.evaluation:hover{
	background: #00a6ff;
	background: -moz-linear-gradient(top, #00a6ff 0%, #00f6ff 60%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #00a6ff), color-stop(60%, #00f6ff));
	background: -webkit-linear-gradient(top, #00a6ff 0%, #00f6ff 60%);
	background: -o-linear-gradient(top, #00a6ff 0%, #00f6ff 60%);
	background: -ms-linear-gradient(top, #00a6ff 0%, #00f6ff 60%);
	background: linear-gradient(to bottom, #00a6ff 0%, #00f6ff 60%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78f511', endColorstr='#2f7536', GradientType=0 );
	box-shadow: 0 0 8px #000033;
}

#content .item div{
    background-position: 50% center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

#content .item div.abwicklung{
	background-image: url('/assets/portal/abwicklung.png');	
}

#content .item div.planung{
	background-image: url('/assets/portal/planung.png');	
	background-size: 70%;
}

#content .item div.prognose{
	background-image: url('/assets/portal/prognose.png');
	background-size: 60%;
}

#content .item div.controlling{
	background-image: url('/assets/portal/control.png');
	background-size: 70%;
}

#content .item div.overview{
    background-image: url('/assets/portal/dms.png');
    background-size: 75% auto;
}

#content .item div.settings {
    background-image: url('/assets/portal/settings.png');
    background-size: 92% auto;
}

#content .item div.worker {
    background-image: url("/assets/portal/worker.png");
    background-size: 60% auto;
}

#content .item div span{
    background-color: rgba(255, 255, 255, 0.75);
	color: #000000;
	float: left;
	font-size: 18px;
	margin: 160px 0 0;
	padding: 6px;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff, 0 0 4px #fff;
	width: 188px;
}

